:root {
    --primary-color: #010d2d; 
    --secondary-color: #60A5FA; /* Light Blue */
    --accent-color: #10B981; /* Bright Green */
    --neutral-color: #F3F4F6; /* Light Gray */
}

#signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}
#login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 70vh;
}

#signup-form h1,
#login-form h1{
    font-size: 2em;
}

#signup-form .form-element,
#login-form .form-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-element input{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--neutral-color);
    width: 300px;
}
.form-element label{
    font-size: 17px;
}
#signup-form button,
#login-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    font-size: 20px;
    width: 300px;
}